---
######################### Configure Host Repositories

- name: list current repository files
  shell: "ls -1 /etc/yum.repos.d/"
  register: repodircontents
  tags:
    - configure_repos
    - remove_existing_repos

- name: remove current repository files
  file:
    path: /etc/yum.repos.d/{{ item }}
    state: absent
  with_items: "{{ repodircontents.stdout_lines }}"
  tags:
    - configure_repos
    - remove_existing_repos

# - name: create open.repo template on host
#   template:
#     src: files/repo_templates/repo_{{ config_name }}.j2
#     dest: /etc/yum.repos.d/open_{{ config_name }}.repo
#   tags:
#    - create_open_repo_template

- name: create open.repo template on host
  template:
    src: ../../../configs/standard_configs/{{ config_name }}/{{ config_name }}/files/repos_template.j2
    dest: /etc/yum.repos.d/open_{{ config_name }}.repo
  tags:
   - create_open_repo_template


##TODO: Is this a left over tag, or does it belong
##to "create open.repo template on host".

- name: remove current repositories
  shell: "yum repolist"
  tags:
    - configure_repos
    - run_yum_repolist
