---
{% for pv in range(1,user_vols) %}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: vol{{ pv }}
spec:
  capacity:
    storage: {{pv_size}}
  accessModes:
  - ReadWriteOnce
  nfs:
    path: {{nfs_export_path}}/user-vols/vol{{pv}}
    server: {{hostvars[groups['nfs'][0]]['private_hostname']}}
  persistentVolumeReclaimPolicy: {{persistentVolumeReclaimPolicy}}
---
{% endfor %}
