Host {{hostvars[groups['bastions'][0]]['public_hostname']}}
  Hostname {{hostvars[groups['bastions'][0]]['public_hostname']}}
  ForwardAgent yes
  IdentityFile ~/.ssh/{{ key_name }}.pem
  IdentitiesOnly yes
  User ec2-user
  ControlMaster auto
  ControlPath /tmp/{{ project_tag }}-%C
  ControlPersist 5m
  ForwardAgent yes
  StrictHostKeyChecking no

{% for host in groups['bastions'] %}
Host {{ hostvars[host]['private_hostname'] }}
  Hostname {{ hostvars[host]['private_hostname'] }}
  User ec2-user
  IdentityFile {{hostvars[groups['bastions'][0]]['ansible_ssh_private_key_file']}}
  ProxyCommand ssh {{hostvars[groups['bastions'][0]]['public_hostname']}} -W %h:%p
  ForwardAgent yes
  StrictHostKeyChecking no

{% endfor %}

{% for host in groups['masters'] %}
Host {{ hostvars[host]['private_hostname'] }}
  Hostname {{ hostvars[host]['private_hostname'] }}
  User ec2-user
  IdentityFile {{hostvars[groups['bastions'][0]]['ansible_ssh_private_key_file']}}
  ProxyCommand ssh {{hostvars[groups['bastions'][0]]['public_hostname']}} -W %h:%p
  ForwardAgent yes
  StrictHostKeyChecking no

{% endfor %}

{% for host in groups['infranodes'] %}
Host {{ hostvars[host]['private_hostname'] }}
  Hostname {{ hostvars[host]['private_hostname'] }}
  User ec2-user
  IdentityFile {{hostvars[groups['bastions'][0]]['ansible_ssh_private_key_file']}}
  ProxyCommand ssh {{hostvars[groups['bastions'][0]]['public_hostname']}} -W %h:%p
  ForwardAgent yes
  StrictHostKeyChecking no

{% endfor %}

{% for host in groups['nodes'] %}
Host {{ hostvars[host]['private_hostname'] }}
  Hostname {{ hostvars[host]['private_hostname'] }}
  User ec2-user
  IdentityFile {{hostvars[groups['bastions'][0]]['ansible_ssh_private_key_file']}}
  ProxyCommand ssh {{hostvars[groups['bastions'][0]]['public_hostname']}} -W %h:%p
  ForwardAgent yes
  StrictHostKeyChecking no

{% endfor %}


{% for host in groups['nfs'] %}
Host {{ hostvars[host]['private_hostname'] }}
  Hostname {{ hostvars[host]['private_hostname'] }}
  User ec2-user
  IdentityFile {{hostvars[groups['bastions'][0]]['ansible_ssh_private_key_file']}}
  ProxyCommand ssh {{hostvars[groups['bastions'][0]]['public_hostname']}} -W %h:%p
  ForwardAgent yes
  StrictHostKeyChecking no

{% endfor %}
